<%- include ("partials/header"); -%>

<h1>add page</h1>

<form action="/items" method="POST">
    <input type="text" placeholder="add name" name="name">
    <input type="text" placeholder="add des" name="des">
    <button>submit</button>
</form>

<a href="/">back to home page</a>

<%- include ("partials/footer"); -%>